body{
    margin: 0 auto;
    padding: 0;
/*
    background-color: #404040;
    color: #ffffff;
*/
}
main{
    min-height: 700px;
}

.heading{
    top: 0;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

.heading h2{
    text-align: center;
}

.contain_table_left{
    width: 25%;
    float: left;
    margin-left: 2%;
    height: 500px;
    overflow-y: auto;
}

#graph{
    width: 40%;
    float: left;
    height: 500px;
    margin-left: 3%;
    margin-right: 3%;
}

.contain_table_right{
    width: 25%;
    float: right;
    margin-right: 2%;
    height: 500px;
    overflow-y: auto;
}

table{
    width: 100%;
    text-align: center;
    font-size: 16px;
}

td, th{
    width: 50%;
}

table th{
    font-size: 18px;
}

tr:hover {
    background-color: #505050;
    cursor: default;
}

@media screen and (max-width: 768px){
    .contain_table_left{
        width: 75%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #graph{
        width: 75%;
        float: none;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .contain_table_right{
        float: none;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    
    table{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

